Downloading Data Dynamically

In [69]:
import pandas as pd

In [70]:
cardio_base=pd.read_csv("Byte2Beat/Data/Cardiac Failure/cardio_base.csv",delimiter=';')

In [71]:
cardio_base.head(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0

In [72]:
cardio_base.shape

(70000, 13)

In [74]:
cardiac_failure_processes=pd.read_csv("Byte2Beat/Data/Cardiac Failure/cardiac_failure_processed.csv",delimiter=',')

In [75]:
cardiac_failure_processes = cardiac_failure_processes.drop(columns=["Unnamed: 0"])

In [76]:
cardiac_failure_processes.head(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0.588076,2,168,62.0,110,80,1,1,0,0,1,0
1,1,0.730159,1,156,85.0,140,90,3,1,0,0,1,1
2,2,0.624003,1,165,64.0,130,70,3,1,0,0,0,1
3,3,0.528455,2,169,82.0,150,100,1,1,0,0,1,1
4,4,0.516918,1,156,56.0,100,60,1,1,0,0,0,0
5,8,0.860705,1,151,67.0,120,80,2,2,0,0,0,0
6,9,0.876113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,0.912582,2,178,95.0,130,90,3,3,0,0,1,1
8,13,0.531940,1,158,71.0,110,70,1,1,0,0,1,0
9,14,0.699652,1,164,68.0,110,60,1,1,0,0,0,0

In [77]:
cardiac_failure_processes.shape

(70000, 13)

In [78]:
cardio_base.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [79]:
cardiac_failure_processes.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [80]:
cardio_base.describe().loc[["min","max"]]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
min,0.0,10798.0,1.0,55.0,10.0,-150.0,-70.0,1.0,1.0,0.0,0.0,0.0,0.0
max,99999.0,23713.0,2.0,250.0,200.0,16020.0,11000.0,3.0,3.0,1.0,1.0,1.0,1.0

In [81]:
cardiac_failure_processes.describe().loc[["min","max"]]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
min,0.0,0.0,1.0,55.0,10.0,-150.0,-70.0,1.0,1.0,0.0,0.0,0.0,0.0
max,99999.0,1.0,2.0,250.0,200.0,16020.0,11000.0,3.0,3.0,1.0,1.0,1.0,1.0